# Importing the Dependencies

In [4]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

In [6]:
# loading the dataset to a Pandas DataFrame
credit_card_data = pd.read_csv('/content/creditcard.csv')

In [7]:
# first 5 rows of the dataset
credit_card_data.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0     0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62    0.0
1     0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69    0.0
2     1 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66    0.0
3     1 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50    0.0
4     2 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99    0.0

[5 rows x 31 columns]

In [8]:
# dataset informations
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11959 entries, 0 to 11958
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    11959 non-null  int64
 1   V1      11959 non-null  float64
 2   V2      11959 non-null  float64
 3   V3      11959 non-null  float64
 4   V4      11959 non-null  float64
 5   V5      11959 non-null  float64
 6   V6      11959 non-null  float64
 7   V7      11959 non-null  float64
 8   V8      11959 non-null  float64
 9   V9      11959 non-null  float64
 10  V10     11959 non-null  float64
 11  V11     11959 non-null  float64
 12  V12     11959 non-null  float64
 13  V13     11959 non-null  float64
 14  V14     11959 non-null  float64
 15  V15     11959 non-null  float64
 16  V16     11959 non-null  float64
 17  V17     11959 non-null  float64
 18  V18     11959 non-null  float64
 19  V19     11959 non-null  float64
 20  V20     11958 non-null  float64
 21  V21     11958 non-null  float64
 22  V22     11958 non-null  float64
 23  V23     11958 non-null  float64
 24  V24     11958 non-null  float64
 25  V25     11958 non-null  float64
 26  V26     11958 non-null  float64
 27  V27     11958 non-null  float64
 28  V28     11958 non-null  float64
 29  Amount  11958 non-null  float64
 30  Class   11958 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 2.8 MB

In [9]:
# checking the number of missing values in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [10]:
# distribution of legit transactions & fraudulent transactions
credit_card_data['Class'].value_counts()

0.0    11906
1.0       52
Name: Class, dtype: int64

This Dataset is highly unblanced

0 --> Normal Transaction

1 --> fraudulent transaction

In [12]:
# separating the data for analysis
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [13]:
print(legit.shape)
print(fraud.shape)

(11906, 31)
(52, 31)

In [14]:
# statistical measures of the data
legit.Amount.describe()

count    11906.000000
mean        62.198127
std        177.379105
min          0.000000
25%          5.292500
50%         15.950000
75%         50.000000
max       7712.430000
Name: Amount, dtype: float64

In [15]:
fraud.Amount.describe()

count      52.000000
mean       97.724808
std       321.188775
min         0.000000
25%         1.000000
50%         1.000000
75%         1.772500
max      1809.680000
Name: Amount, dtype: float64

In [16]:
# compare the values for both transactions
credit_card_data.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28     Amount
Class                                    ...
0.0     7993.389048 -0.200839  0.259753  ...  0.005330  0.000012  62.198127
1.0    11569.615385 -3.769104  4.258027  ...  0.692927  0.059751  97.724808

[2 rows x 30 columns]

Under-Sampling


Build a sample dataset containing similar distribution of normal transactions and Fraudulent Transactions

Number of Fraudulent Transactions --> 52

In [31]:
legit_sample = legit.sample(n=52)

Concatenating two DataFrames

In [42]:
new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [44]:
new_dataset.reset_index(drop=True,inplace=True)
new_dataset.head()

    Time        V1        V2        V3  ...       V27       V28  Amount  Class
0   7029 -0.981672  1.465162  0.898816  ...  0.211616  0.076662    8.99    0.0
1   2643  1.235152  0.107871 -0.068843  ...  0.023889  0.014569   24.66    0.0
2   5726  0.593305 -0.954352 -0.493094  ... -0.155059  0.038810  368.00    0.0
3  19909  1.463935 -0.539306  0.274801  ... -0.021619 -0.005408    5.00    0.0
4   7019 -0.869825  0.828357  1.962723  ...  0.311380  0.119218    7.45    0.0

[5 rows x 31 columns]

In [45]:
new_dataset['Class'].value_counts()

1.0    52
0.0    52
Name: Class, dtype: int64

Splitting the data into Features & Targets

In [46]:
X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']

In [47]:
print(X)

      Time         V1        V2  ...       V27       V28  Amount
0     7029  -0.981672  1.465162  ...  0.211616  0.076662    8.99
1     2643   1.235152  0.107871  ...  0.023889  0.014569   24.66
2     5726   0.593305 -0.954352  ... -0.155059  0.038810  368.00
3    19909   1.463935 -0.539306  ... -0.021619 -0.005408    5.00
4     7019  -0.869825  0.828357  ...  0.311380  0.119218    7.45
..     ...        ...       ...  ...       ...       ...     ...
99   18690 -15.398845  7.472324  ...  2.262942 -1.178063    1.00
100  19762 -14.179165  7.421370  ...  2.171905 -1.395288    1.00
101  20011 -14.724627  7.875157  ...  2.161129 -1.401282    1.00
102  20332 -15.271362  8.326581  ...  2.149247 -1.406811    1.00
103  20451 -15.819179  8.775997  ...  2.136424 -1.411945    1.00

[104 rows x 30 columns]

In [48]:
print(Y)

0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
99     1.0
100    1.0
101    1.0
102    1.0
103    1.0
Name: Class, Length: 104, dtype: float64

Split the data into Training data & Testing Data

In [54]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=76)

In [55]:
print(X.shape, X_train.shape, X_test.shape)

(104, 30) (83, 30) (21, 30)

Model Training

Logistic Regression

In [63]:
model = svm.SVC(kernel='linear')

In [65]:
# training the Logistic Regression Model with Training Data
model.fit(X_train, Y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

Model Evaluation

In [66]:
# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [67]:
print('Accuracy score on Training Data : ', training_data_accuracy)

Accuracy score on Training Data :  0.963855421686747

In [68]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)
print('Accuracy score on Test Data : ', test_data_accuracy)

Accuracy score on Test Data :  0.9523809523809523